@import "ThemeVariables.css";

:root {
	font-smooth: never;
	-webkit-font-smoothing: none;
	text-align: center;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

a {
	color: inherit;
	text-decoration: none;
}

.full-w-h {
	width: 100%;
	height: 100%;
}

.prevent-selection {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

.hide {
	display: none;
}

.emoji {
	font-family: var(--noto-emoji);
	font-style: normal;
}

.hue-rotation {
	animation: 15s ease-in-out infinite alternate hueRotation;
}

.highlighted-link {
	color: rgb(0, 175, 166);
	/* text-shadow: -0.5px -0.5px 0 rgb(250, 250, 250),
	  0.5px -0.5px 0 rgb(250, 250, 250), -0.5px 0.5px 0 rgb(250, 250, 250),
	  0.5px 0.5px 0 rgb(250, 250, 250); */
}

@keyframes hueRotation {
	from {
		filter: hue-rotate(0deg) saturate(100%) sepia(0%);
	}

	to {
		filter: hue-rotate(130deg) saturate(80%) sepia(30%);
	}
}
